/* 클라우드 */
.item_chat.theme_bubble .chat_list li.gift p,
.item_chat.theme_bubble .chat_list li.join p{color:#ffe000!important}
.item_chat.theme_bubble .chat_list li{float:left;clear:both;margin-top:5px;
    -webkit-transform-origin:left bottom;transform-origin:left bottom;transform-origin:left bottom;transform-origin:left bottom;
}
.item_chat.theme_bubble .chat_list li{max-height:0;overflow:hidden;filter:alpha(opacity=0);opacity:0;-webkit-transform:scale(0);transform:scale(0)}
.item_chat.theme_bubble .chat_list li{padding:0;border:0;border-radius:0;box-shadow:none;background:none}
.item_chat.theme_bubble .chat_list li.cloudactive{max-height:1000px;overflow:visible;-webkit-transform:scale(1);transform:scale(1);filter:"";opacity:1}
.item_chat.theme_bubble .chat_list .cloud_box{float:left;padding:10px;border-radius:10px;border:1px solid rgba(200,200,200,0.5);box-shadow:0 0 10px rgba(0,0,0,0.1);background:rgba(255,255,255,0.5)}
.item_chat.theme_bubble .chat_list li:first-child{margin-top:0}
.item_chat.theme_bubble .chat_list li.cloudcolor_1 .cloud_box{border:1px solid rgba(110,172,224,0.4);background:rgba(220,240,250,0.5)}
.item_chat.theme_bubble .chat_list li.cloudanimate_0 .cloud_box{-webkit-animation:skincloud_0 5s infinite linear;animation:skincloud_0 5s infinite linear}
.item_chat.theme_bubble .chat_list li.cloudanimate_1 .cloud_box{-webkit-animation:skincloud_1 5s infinite linear;animation:skincloud_1 5s infinite linear}
.item_chat.theme_bubble .chat_list li.cloudanimate_2 .cloud_box{-webkit-animation:skincloud_2 5s infinite linear;animation:skincloud_2 5s infinite linear}

.item_chat.theme_bubble.item_chat_scroll .chat_list li{
	-webkit-transform-origin:left top;transform-origin:left top;transform-origin:left top;transform-origin:left top;
}
.item_chat.theme_bubble.right .chat_list li{float:right;
	-webkit-transform-origin:right bottom;transform-origin:right bottom;transform-origin:right bottom;transform-origin:right bottom;
}
.item_chat.theme_bubble.item_chat_scroll.right .chat_list li{
	-webkit-transform-origin:right top;transform-origin:right top;transform-origin:right top;transform-origin:right top;
}
.item_chat.theme_bubble .chat_list li.notice .cloud_box,
.item_chat.theme_bubble .chat_list li.police .cloud_box{padding:0;border:0;border-radius:0;background:none}
.item_chat.theme_bubble .chat_list li.notice .cloud_box .text,
.item_chat.theme_bubble .chat_list li.police .cloud_box .text{padding:8px 10px!important}

@-webkit-keyframes skincloud_0 {
    0% { -webkit-transform: translate(0px,0px) }
    5% { -webkit-transform: translate(0px,-1px) }
    10% { -webkit-transform: translate(1px,-2px) }
    15% { -webkit-transform: translate(2px,-2px) }
    20% { -webkit-transform: translate(3px,-1px) }
    25% { -webkit-transform: translate(5px,0px) }
    30% { -webkit-transform: translate(7px,1px) }
    35% { -webkit-transform: translate(9px,2px) }
    40% { -webkit-transform: translate(10px,2px) }
    45% { -webkit-transform: translate(11px,1px) }
    50% { -webkit-transform: translate(12px,0px) }
    55% { -webkit-transform: translate(12px,-1px) }
    60% { -webkit-transform: translate(11px,-2px) }
    65% { -webkit-transform: translate(10px,-2px) }
    70% { -webkit-transform: translate(9px,-1px) }
    75% { -webkit-transform: translate(7px,0px) }
    80% { -webkit-transform: translate(5px,1px) }
    85% { -webkit-transform: translate(3px,2px) }
    90% { -webkit-transform: translate(2px,2px) }
    95% { -webkit-transform: translate(1px,1px) }
    100% { -webkit-transform: translate(0px,0px) }
}

@-webkit-keyframes skincloud_1 {
    0% { -webkit-transform: translate(2px,-2px) }
    5% { -webkit-transform: translate(3px,-1px) }
    10% { -webkit-transform: translate(5px,0px) }
    15% { -webkit-transform: translate(7px,1px) }
    20% { -webkit-transform: translate(9px,2px) }
    25% { -webkit-transform: translate(10px,2px) }
    30% { -webkit-transform: translate(11px,1px) }
    35% { -webkit-transform: translate(12px,0px) }
    40% { -webkit-transform: translate(13px,-1px) }
    45% { -webkit-transform: translate(13px,-2px) }
    50% { -webkit-transform: translate(12px,-2px) }
    55% { -webkit-transform: translate(11px,-1px) }
    60% { -webkit-transform: translate(10px,0px) }
    65% { -webkit-transform: translate(9px,1px) }
    70% { -webkit-transform: translate(7px,2px) }
    75% { -webkit-transform: translate(5px,2px) }
    80% { -webkit-transform: translate(3px,1px) }
    85% { -webkit-transform: translate(2px,0px) }
    90% { -webkit-transform: translate(1px,-1px) }
    95% { -webkit-transform: translate(1px,-1px) }
    100% { -webkit-transform: translate(2px,-2px) }
}

@-webkit-keyframes skincloud_2 {
    0% { -webkit-transform: translate(0px,1px) }
    5% { -webkit-transform: translate(1px,2px) }
    10% { -webkit-transform: translate(2px,2px) }
    15% { -webkit-transform: translate(3px,1px) }
    20% { -webkit-transform: translate(5px,0px) }
    25% { -webkit-transform: translate(7px,-1px) }
    30% { -webkit-transform: translate(9px,-2px) }
    35% { -webkit-transform: translate(10px,-2px) }
    40% { -webkit-transform: translate(11px,-1px) }
    45% { -webkit-transform: translate(12px,0px) }
    50% { -webkit-transform: translate(13px,1px) }
    55% { -webkit-transform: translate(12px,2px) }
    60% { -webkit-transform: translate(11px,2px) }
    65% { -webkit-transform: translate(10px,1px) }
    70% { -webkit-transform: translate(9px,0px) }
    75% { -webkit-transform: translate(7px,-1px) }
    80% { -webkit-transform: translate(5px,-2px) }
    85% { -webkit-transform: translate(3px,-2px) }
    90% { -webkit-transform: translate(2px,-1px) }
    95% { -webkit-transform: translate(1px,0px) }
    100% { -webkit-transform: translate(0px,2px) }
}