/* 카카오톡 */
.item_chat.theme_kakaotalk .chat_list li{margin-top:10px;overflow:hidden}
.item_chat.theme_kakaotalk .chat_list li .nick{float:left;color:#000}
.item_chat.theme_kakaotalk .chat_list li .nick .dot{display:none}
.item_chat.theme_kakaotalk .chat_list li.ran_1 .nick{float:right}
.item_chat.theme_kakaotalk .chat_list li .text{clear:both;float:left;padding:5px!important;max-width:80%;color:#333;background:#fff;border-radius:4px;box-shadow:1px 1px 3px rgba(0,0,0,0.3);text-shadow:none!important}
.item_chat.theme_kakaotalk .chat_list li.ran_1 .text{float:right;background:#ffec42}
.item_chat.theme_kakaotalk .chat_list li.notice p,
.item_chat.theme_kakaotalk .chat_list li.police p{color:#fff}
.item_chat.theme_kakaotalk .chat_list li.gift p{text-shadow:1px 1px 1px rgba(0,0,0,0.8);background:#fff}
.item_chat.theme_kakaotalk .chat_list li.join p{text-shadow:1px 1px 1px rgba(0,0,0,0.8);background:#fff}
.item_chat.theme_kakaotalk .chat_list li.afreecatv p.gift_join{text-shadow:1px 1px 1px rgba(0,0,0,0.8)}
