/* 네온사인 */
.item_chat.theme_neon .chat_list li{margin-top:10px;padding:10px;border-radius:10px;border:2px solid #fffce7!important;box-shadow:0 0 10px 2px#ffe000,inset 0 0 10px 2px#ffe000!important}
.item_chat.theme_neon .chat_list li.color_0{border:2px solid #e6fffe!important;box-shadow:0 0 10px 2px#00fff5,inset 0 0 10px 2px#00fff5!important}
.item_chat.theme_neon .chat_list li.color_0 p{color:#e6fffe!important;text-shadow:0 0 5px #00fff5,0 0 5px #00fff5!important}
.item_chat.theme_neon .chat_list li.color_1{border:2px solid #f4e7ff!important;box-shadow:0 0 10px 2px#b571f3,inset 0 0 10px 2px#b571f3!important}
.item_chat.theme_neon .chat_list li.color_1 p{color:#f4e7ff!important;text-shadow:0 0 5px #b571f3!important}
.item_chat.theme_neon .chat_list li.color_2{border:2px solid #e6fef2!important;box-shadow:0 0 10px 2px#00ff7f,inset 0 0 10px 2px#00ff7f!important}
.item_chat.theme_neon .chat_list li.color_2 p{color:#e6fef2!important;text-shadow:0 0 5px #00ff7f!important}
.item_chat.theme_neon .chat_list li.color_3{border:2px solid #e8ffe8!important;box-shadow:0 0 10px 2px#26d426,inset 0 0 10px 2px#26d426!important}
.item_chat.theme_neon .chat_list li.color_3 p{color:#e8ffe8!important;text-shadow:0 0 5px #26d426!important}
.item_chat.theme_neon .chat_list li.color_4{border:2px solid #e4fefd!important;box-shadow:0 0 10px 2px#00ccC5,inset 0 0 10px 2px#00ccC5!important}
.item_chat.theme_neon .chat_list li.color_4 p{color:#e4fefd!important;text-shadow:0 0 5px #00ccC5!important}
.item_chat.theme_neon .chat_list li.color_5{border:2px solid #ffe9e6!important;box-shadow:0 0 10px 2px#ff4a2e,inset 0 0 10px 2px#ff4a2e!important}
.item_chat.theme_neon .chat_list li.color_5 p{color:#ffe9e6!important;text-shadow:0 0 5px #ff4a2e!important}
.item_chat.theme_neon .chat_list li.color_6{border:2px solid #fff8e5!important;box-shadow:0 0 10px 2px#ecb425,inset 0 0 10px 2px#ecb425!important}
.item_chat.theme_neon .chat_list li.color_6 p{color:#fff8e5!important;text-shadow:0 0 5px #ecb425!important}

.item_chat.theme_neon .chat_list li.gift p,
.item_chat.theme_neon .chat_list li.join p{color:#fffad9!important}
.item_chat.theme_neon.item_chat_random .chat_list li.gift p,
.item_chat.theme_neon.item_chat_random .chat_list li.join p{text-shadow:0 0 5px #ffe000!important}

.item_chat.theme_neon .chat_list li.police,
.item_chat.theme_neon .chat_list li.notice{padding:0!important;border-radius:0!important;border:0!important;box-shadow:none!important}
.item_chat.theme_neon .chat_list li.police .text{padding:8px 10px!important;color:#fff!important}
.item_chat.theme_neon .chat_list li.notice .text{padding:8px 10px!important;color:#fff!important}
.item_chat.theme_neon.item_chat_random .chat_list li.police .text{text-shadow:0 0 5px #fff!important;box-shadow:0 0 10px 2px#ef391c!important}
.item_chat.theme_neon.item_chat_random .chat_list li.notice .text{text-shadow:0 0 5px #fff!important;box-shadow:0 0 10px 2px#11A3FF!important}
