@charset "utf-8";

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);

@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

@import url(https://cdn.jsdelivr.net/font-spoqa-han-sans/subset/spoqahansans-kr.css);

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'NotoSansKR';
   font-style: normal;
   font-weight: 400;
   src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'NotoSansKR';
   font-style: normal;
   font-weight: 500;
   src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'NotoSansKR';
   font-style: normal;
   font-weight: 700;
   src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'NotoSansKR';
   font-style: normal;
   font-weight: 900;
   src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
 }

@font-face{
 font-family:'Youth';
 font-style:normal;
 font-weight:400;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}

/*@font-face{
 font-family:'Daum';
 font-style:normal;
 font-weight:400;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff') format('woff');
}

@font-face{
 font-family:'Daum';
 font-style:normal;
 font-weight:700;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-SemiBold.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-SemiBold.woff') format('woff');
}*/

@font-face{
 font-family:'Daum';
 font-style:normal;
 font-weight:400;
 src: url('https://cdn.rawgit.com/darkyop/po/90040cb8/daum.eot');
 src: url('https://cdn.rawgit.com/darkyop/po/90040cb8/daum.eot?#iefix') format('embedded-opentype'),
     url('https://cdn.rawgit.com/darkyop/po/90040cb8/daum.woff') format('woff'),
     url('https://cdn.rawgit.com/darkyop/po/90040cb8/daum.svg') format('svg');
}

/*@font-face{
 font-family:'Daum';
 font-style:normal;
 font-weight:400;
 src: url('../font/daum.eot');
 src: url('../font/daum.eot?#iefix') format('embedded-opentype'),
     url('../font/daum.woff') format('woff');
}*/

@font-face{
 font-family:'Godo';
 font-style:normal;
 font-weight:400;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}

@font-face{
 font-family:'Godo';
 font-style:normal;
 font-weight:700;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}


@font-face{
 font-family:'Busan';
 font-style:normal;
 font-weight:400;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff') format('woff');
}


@font-face{
 font-family:'LotteMartDream';
 font-style:normal;
 font-weight:400;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

@font-face{
 font-family:'LotteMartDream';
 font-style:normal;
 font-weight:700;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face{
 font-family:'LotteMartDream';
 font-style:normal;
 font-weight:300;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

/* 롯데마트 */
@font-face{
 font-family:'LotteMartHappy';
 font-style:normal;
 font-weight:400;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}
@font-face{
 font-family:'LotteMartHappy';
 font-style:normal;
 font-weight:700;
 src:url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'),
     url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}

/* 나눔 바른고딕 */
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

/* 대한체 */
@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff') format('woff');
}

@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff') format('woff');
}

/* 바른 돋움 */
@font-face {
  font-family: 'BareunDotum';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro2.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro2.woff') format('woff');
}

@font-face {
  font-family: 'BareunDotum';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro3.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro3.woff') format('woff');
}

@font-face {
  font-family: 'BareunDotum';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro1.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro1.woff') format('woff');
}

/* 배달의민족 도현체 */
@font-face{
 font-family:'BMDOHYEON';
 font-style:normal;
 font-weight:400;
 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'),
 	  url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.ttf') format('truetype');
}
/* 배달의민족 연성체 */
@font-face{
 font-family:'BMYEONSUNG';
 font-style:normal;
 font-weight:400;
 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMYEONSUNG.woff') format('woff'),
 	  url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMYEONSUNG.ttf') format('truetype');
}
/*
/* 미생체 /
@font-face{
 font-family:'MiSaeng';
 font-style:normal;
 font-weight:400;
 src: url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/SDMiSaeng.woff') format('woff'),
 	  url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/SDMiSaeng.ttf') format('truetype');
}
/* 동그라미체 /
@font-face{
 font-family:'Dongrami';
 font-style:normal;
 font-weight:400;
 src: url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/Dongrami.woff') format('woff'),
 	  url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/Dongrami.ttf') format('truetype');
}
/* 이순신체 /
@font-face{
 font-family:'YiSunShin';
 font-style:normal;
 src: url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/YiSunShin.woff') format('woff'),
 	  url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/YiSunShin.ttf') format('truetype');
}
/* 이순신돋움 /
@font-face{
 font-family:'YiSunShinDotum';
 font-style:normal;
 src: url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/YiSunShinDotum.woff') format('woff'),
 	  url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/YiSunShinDotum.ttf') format('truetype');
}
/* 야놀자야체 /
@font-face{
 font-family:'YanolJaYache';
 font-style:normal;
 font-weight:400;
 src: url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/YanolJaYache.woff') format('woff'),
 	  url('https://cdn.rawgit.com/darkyop/daum/dbdf6ba2/YanolJaYache.ttf') format('truetype');
}
*/
/* 미생체 */
@font-face { font-family: 'SDMiSaeng'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff'); font-weight: normal; font-style: normal; }
/* 동그라미체 */
@font-face { font-family: 'ThecircleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/ThecircleM.woff') format('woff'); font-weight: normal; font-style: normal; }
/* 이순신체 */
@font-face { font-family: 'YiSunShinRegular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinRegular.woff') format('woff'); font-weight: normal; font-style: normal; }
/* 이순신돋움 */
@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
/* 야놀자야체 */
@font-face { font-family: 'YanoljaYacheR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff') format('woff'); font-weight: normal; font-style: normal; }

/*산돌국대떡볶이체*/
@font-face { font-family: 'SDKukdetopokki'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDKukdetopokki.woff') format('woff'); font-weight: normal; font-style: normal; }

/*빙그레체*/
@font-face { font-family: 'Binggrae'; font-weight:normal; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff'); font-weight: normal; font-style: normal; }

/*빙그레체II*/
@font-face { font-family: 'Binggrae'; font-weight:700; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

/*이롭게바탕체*/
@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

/*한돋움체*/
@font-face { font-family: 'KHNPHD'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff'); font-weight: normal; font-style: normal; }

/*한울림체*/
@font-face { font-family: 'KHNPHU'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHU.woff') format('woff'); font-weight: normal; font-style: normal; }

/*한둥근제목*/
@font-face { font-family: 'WONTitle'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONTitle.woff') format('woff'); font-weight: normal; font-style: normal; }

/*한둥근바탕*/
@font-face { font-family: 'WONBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/WONBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

/*김남윤체*/
@font-face { font-family: 'KimNamyun'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KimNamyun.woff') format('woff'); font-weight: normal; font-style: normal; }

/*HS봄바람체*/
@font-face { font-family: 'HSBombaram'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff'); font-weight: normal; font-style: normal; }

/*HS겨울눈꽃체*/
@font-face { font-family: 'HSGyoulnoonkot'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSGyoulnoonkot.woff') format('woff'); font-weight: normal; font-style: normal; }

/*HS가을생각체*/
@font-face { font-family: 'HSGaeulsenggak'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSGaeulsenggak.woff') format('woff'); font-weight: normal; font-style: normal; }

/*김제시체*/
@font-face { font-family: 'GIMJE-L'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GIMJE-L.woff') format('woff'); font-weight: normal; font-style: normal; }

/*서울한강체*/
@font-face { font-family: 'SeoulHangangM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff'); font-weight: normal; font-style: normal; }

/*봄바람체*/
@font-face { font-family: 'GabiaBombaram'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GabiaBombaram.woff') format('woff'); font-weight: normal; font-style: normal; }

/*몬소리체*/
@font-face { font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); font-weight: normal; font-style: normal; }

/*EBS훈민정음*/
@font-face { font-family: 'EBSHunminjeongeumSBA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff'); font-weight: normal; font-style: normal; }

/*고양덕양체*/
@font-face { font-family: 'GoyangDeogyang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangDeogyang.woff') format('woff'); font-weight: normal; font-style: normal; }

/*즐거운이야기체*/
@font-face { font-family: 'OTEnjoystoriesBA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff'); font-weight: normal; font-style: normal; }

/*안경잡이체*/
@font-face { font-family: 'FOUREYES'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/FOUREYES.woff') format('woff'); font-weight: normal; font-style: normal; }

/*KCC은영체*/
@font-face { font-family: 'KCC-eunyoung'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

/*스웨거체*/
@font-face { font-family: 'Swagger'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/Swagger.woff') format('woff'); font-weight: normal; font-style: normal; }

/*한마음고딕체*/
@font-face { font-family: 'KBIZHanmaumGothic'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumGothic.woff') format('woff'); font-weight: normal; font-style: normal; }

/*경기천년제목*/
@font-face { font-family: 'GyeonggiBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }

/*경기천년바탕*/
@font-face { font-family: 'GyeonggiTitleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff'); font-weight: normal; font-style: normal; }

/*아리따돋움*/
@font-face { font-family: 'Arita-dotum-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

/*KoPub바탕*/
@import url(https://fonts.googleapis.com/earlyaccess/kopubbatang.css);

/*KoPub돋움*/
@font-face { font-family: 'KoPubDotumMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff'); font-weight: normal; font-style: normal; }

/*나눔스퀘어라운드*/
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }

/*나눔바른펜*/
@font-face { font-family: 'NanumBarunpen'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff'); font-weight: normal; font-style: normal; }

/*부산바다체*/
@font-face { font-family: 'BusanBada'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BusanBada.woff') format('woff'); font-weight: normal; font-style: normal; }

/*솔미체*/
@font-face { font-family: 'GabiaSolmee'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GabiaSolmee.woff') format('woff'); font-weight: normal; font-style: normal; }

/*잉크립퀴드체*/
@font-face { font-family: 'InkLipquid'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff'); font-weight: normal; font-style: normal; }

/*포천막걸리체*/
@font-face { font-family: 'Makgeolli'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/Makgeolli.woff') format('woff'); font-weight: normal; font-style: normal; }

/* HS여름물빛체 */
@font-face { font-family: 'HSSummer'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSSummer.woff') format('woff'); font-weight: normal; font-style: normal; }


/* 밝은체 */
@font-face { font-family: 'Bright'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.4/Bright.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 법정체 */
@font-face { font-family: 'Beopjeong'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.4/Beopjeong.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 간이벽온방체 */
@font-face { font-family: 'Kanibuk'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.5/Kanibuk.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 월인석보체 */
@font-face { font-family: 'Wolin'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.4/Wolin.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 다온청년고딕 */
@font-face { font-family: 'DAONYOUTHGOTHICM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.3/DAONYOUTHGOTHICM.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 다온수달고딕 */
@font-face { font-family: 'DAONOTTERGOTHICM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.3/DAONOTTERGOTHICM.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 개미똥꾸멍 */
@font-face { font-family: 'SangSangAnt'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangAnt.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 신비는일곱살 */
@font-face { font-family: 'SangSangShinb7'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff') format('woff'); font-weight: normal; font-style: normal; }

/* 한글누리체 */
@font-face { font-family: 'HangeulNuri-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

/* sn별별정직 */
@font-face { font-family: 'snByulByul'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.6/snByulByul.woff') format('woff'); font-weight: normal; font-style: normal; }

/* ds digital */
@font-face {
    font-family: 'Digital-7';
    src:url('https://cdn.rawgit.com/darkyop/po/90040cb8/Digital-7.eot') format('eot'),
    	url('https://cdn.rawgit.com/darkyop/po/90040cb8/Digital-7.eot?#iefix') format('embedded-opentype'),
    	url('https://cdn.rawgit.com/darkyop/po/90040cb8/Digital-7.svg') format('svg'),
        url('https://cdn.rawgit.com/darkyop/po/90040cb8/Digital-7.woff') format('woff'),
        url('https://cdn.rawgit.com/darkyop/po/90040cb8/Digital-7.woff2') format('woff2')
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DS-Digital';
    src:url('https://cdn.rawgit.com/darkyop/po/90040cb8/DS-Digital.woff') format('woff'),
    	url('https://cdn.rawgit.com/darkyop/po/90040cb8/DS-Digital.svg') format('svg'),
        url('https://cdn.rawgit.com/darkyop/po/90040cb8/DS-Digital.eot') format('eot'),
        url('https://cdn.rawgit.com/darkyop/po/90040cb8/DS-Digital.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}